<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% list_of_colors.each do | color | %>
      <li>
        <%= link_to potepan_products_url(color: color.name) do %>
        <%= color.name %>
        <span>(
          <%= color.variants.count %> )</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
