<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% list_of_sizes.each do | size | %>
      <li>
        <%= link_to potepan_products_url(size: size.name) do %>
        <%= size.name %>
        <span>(
          <%= size.variants.count %> )</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
