<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render partial: 'potepan/shared/filter_by_category', locals: { taxonomies: @taxonomies } %>
  <%= render partial: 'potepan/shared/filter_by_price' %>
  <%= render partial: 'potepan/shared/filter_by_color', locals: { list_of_colors: @list_of_colors } %>
  <%= render partial: 'potepan/shared/filter_by_size', locals: { list_of_sizes: @list_of_sizes } %>
</div>
