<% provide(:title, @taxon.name) %>

<%= render partial: "potepan/shared/light_section_top", locals: { name: @taxon.name } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: "potepan/shared/sidebar", locals: { taxonomies: @taxonomies } %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= form_tag(potepan_category_path(params[:id]), method: :get) do %>
            <%= select_tag 'order', options_for_select([['並び替え', '0'], ['新着順', 'newest'], ['安い順', 'price-asc'], ['高い順', 'price-dsc'], ['古い順', 'oldest']], selected: params[:order] || 'newest'), { class: "select-drop", onChange: "this.form.submit()" } %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'">
                <i class="fa fa-th" aria-hidden="true"></i>
                <span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                <span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <%= render partial: "potepan/shared/product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "potepan/shared/light_section_bottom" %>
