<% provide(:title, "") %>
<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_categories' %>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <%= render partial: 'new_product', collection: @new_products %>
        </div>
      </div>
    </div>
    <%= render 'useful_articles' %>
  </div>
</section>
<%= render 'light_section' %>
