<!-- FOOTER -->
<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>商品をお探しなら</h5>
          <ul class="list-unstyled">
            <li>
              <a href="product-grid-left-sidebar.html">SHOES</a>
            </li>
            <li>
              <a href="product-grid-left-sidebar.html">BAGS
              </a>
            </li>
            <li>
              <a href="product-grid-left-sidebar.html">GLASSES
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>BIGBAGについて</h5>
          <ul class="list-unstyled">
            <li>
              <%= link_to 'ABOUT US', potepan_about_us_path %>
            </li>
            <li>
              <%= link_to 'プライバシーポリシー', potepan_privacy_policy_path %>
            </li>
            <li>
              <%= link_to '特定商取引法についての表記', potepan_tokushoho_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
