<!DOCTYPE html>
<html lang="en">

<head>
  <%= render 'layouts/head' %>
  <title>Potepanec</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="main-wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/copyright' %>
  </div>
  <%= render 'layouts/modals' %>
</body>

</html>
